@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


@import "tailwindcss";
@plugin "daisyui";

 @plugin "daisyui" {
   themes: light --default, dark --prefersdark, forest;
 }

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  
}

.dancing-script{
  font-family: "Dancing Script";
  font-optical-sizing: auto;
}


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
 


